<?xml version="1.0" encoding="utf-8"?>

<log4net>
	<!-- Console Appender for every log -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<header value="---- CuttingVault Started ----&#13;&#10;" />
			<footer value="----------------- End of session ---------------&#13;&#10;" />
			<conversionPattern value="%d %-6p%c - %m%n" />
		</layout>
	</appender>

	<!-- File Appender for root object -->
	<appender name="LogFileAppenderRoot" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="/var/logs/cutting-vault/main.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize value="50MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<header value="---- CuttingVault Main Log Started ----&#13;&#10;" />
			<footer value="----------------- End of log file ---------------&#13;&#10;" />
			<conversionPattern value="%d [%t] %-5p %c %m%n" />
		</layout>
	</appender>

	<root>
		<level value="Debug" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="LogFileAppenderRoot" />
	</root>

  <logger name="Microsoft">
    <level value="on" additivity="false" />
  </logger>

</log4net>