version: '3'
services:
    cloudflared:
        image: cloudflare/cloudflared:latest
        restart: always
        command: tunnel run
        networks:
          - cutting-vault-network
        volumes:
          - /home/pete/projects/cloudflared:/etc/cloudflared

    mysql-cutting-vault:
        image: mysql:latest
        container_name: mysql
        ports:
            - '3306:3306'
        volumes:
            - /home/pete/projects/data:/var/lib/mysql
            - /etc/mysql:/etc/mysql/conf.d
            - /media/usb:/backups
        environment:
            - MYSQL_ROOT_PASSWORD=password
        networks:
            - cutting-vault-network
        restart: always

    cutting-vault-ui:
        image: cutting-vault-ui
        container_name: cutting-vault-ui
        ports:
            - '8090:80'
            - '8091:443'
        volumes:
            - ./nginx/conf/:/etc/nginx/conf.d/:ro
        networks:
            - cutting-vault-network
        restart: always

    cutting-vault-api:
        image: cutting-vault-api
        container_name: cutting-vault-api
        ports:
            - '8080:8080'
        volumes:
            - /home/pete/projects/logs:/var/logs
        networks:
            - cutting-vault-network
        restart: always

networks:
    cutting-vault-network:
        driver: bridge
        

